.app{
    overflow: hidden;
    /* height: 100vh; */
}

.app__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container__bg{
    width: 50%;
    height: 100%;
    background: url("../img/bg-index.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    background-color: var(--background-index-color);
}

.container__content__logo{
    margin-top: 50px;
}

.container__content__logo svg{
    width: 100%;
    height: 120px;
}

.container__content__logo svg text{
    stroke: #bd1f0a;
    font-size: 8rem;
    font-weight: 700;
    stroke-width: 3;
    animation: text 5s infinite alternate;
}

@keyframes text {
    0%{
        stroke-dasharray: 0 50%;
    }
    100%{
        stroke-dasharray: 50% 0;
    }
}

.container__content__slogan__text{
    color: var(--white-color);
    font-size: 3rem;
    text-align: center;
}

.content__join__item{
    margin: 2rem 0;
    list-style: none;
}

.footer__contact{
    display: flex;
}

.footer__item{
    list-style: none;
}

.footer__item a{
    text-decoration: none;
    font-size: 1.6rem;
    list-style: none;
    padding-right: 12px;
    color: var(--white-color);
}

.footer__contact,
.footer__hello{
    color: var(--white-color);
}

.footer__hello{
    font-size: 1.2rem;
    margin-left: 40px;
}
/* auth modal */
.modal{
    display: none;
}

#login_form,
#register_form,
#forget_form,
#register_form_confirm{
    display: none;
}

#register_form_confirm{
    display: none;
}

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-black-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
    font-size: 1.4rem;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin: 12px 0;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    margin-bottom: 10px;
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--google{
    background-color: #ff5040;
    color: var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials--google{
    background-color: var(--primary-color);
}

.auth-form__socials--google
.auth-form__socials-icon{
    color: #8ef52d;
}

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    cursor: pointer;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 16px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}


.form-group {
display: flex;
margin-bottom: 16px;
flex-direction: column;
}

.form-message {
text-align: left;
}

.form-control {
height: 40px;
padding: 8px 12px;
border: 1px solid #b3b3b3;
border-radius: 3px;
outline: none;
font-size: 1.4rem;
}

.form-control:hover {
border-color: var(--border-color);
}

.form-group.invalid .form-control {
    border: solid 2px #f33a58;
}

.form-group.invalid .form-message {
color: #f33a58;
}

.form-message {
font-size: 1.2rem;
line-height: 1.6rem;
padding: 4px 0 0;
}

.form-submit {
    width: 100%;
    margin-bottom: 10px;
    min-width: 100px;
}

.form-submit:hover {
background-color: var(--primary-color-hover);
}

.form-control-password{
    display: flex;
    height: 40px;
    padding: 0;
    border-radius: 3px;
    font-size: 1.4rem;
}

.form-control-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 12px;
}

.show-hide-password{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.show-hide-password-icon{
    font-size: 2rem;
    color: var(--black-color);
}


/* okok header */
.app__header {
    height: var(--app__header);
    background-color: var(--background-messager-color);
    display: flex;
    align-items: center;
    border-bottom: solid 3px var(--line-color);
}

.app__header__content{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header left */

.header--left{
    height: 100%;
    display: flex;
}

.header__logo{
    padding: 0 10px;
}

.header__logo-link{
    display: flex;
    align-items: center
}

.header__logo__img{
    width: 40px;
    height: 40px;
}

.header__search{
    flex: 1;
    display: flex;
    background-color: var(--line-color);
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 10px;
}

.header__search__icon{
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
    padding: 5px;
}

.header__search__input{
    width: 100%;
    font-size: 1.4rem;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-color)
}

/* header center */
.header--center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--center__nav__link{
    text-decoration: none;
}

.header--center__nav__content{
    font-size: 3rem;
    color: var(--white-color);
    padding: 8px 22px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header--center__nav__content--click .header--center__nav__icon{
    color: var(--primary-color);
}

.header--center__nav__content:hover{
    background-color: var(--line-color);
}

.header--center__nav__content--notifications{
    position: absolute;
    padding: 4px 6px;
    background-color: var(--red-color);
    top: 0px;
    right: 0;
    border-radius: 10px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header right */

.header--right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header--right__nav{
    display: flex;
    margin-right: 10px;

}

.header--right__nav__user{
    display: flex;
    cursor: pointer;
}

.header--right__nav__user--avatar{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}

.nav__user--avatar__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header--right__nav__user--firstname{
    margin: 0 10px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    line-height: 40px;
    max-width: 100px;
    height: auto;
}

.nav__user--firstname--text{
    width: 100%;
    white-space: pre-wrap; 
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.header--right__nav__content{
    position: relative;
    cursor: pointer;
}

.header--right__nav__icon{
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    color: var(--text-white-color);
    background-color: var(--line-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* option user - start*/
.header--right__nav__content__options{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--background-messager-color);
    width: 360px;
    border-radius: 10px;
    border: solid 1px var(--line-color-hover);
    color: var(--text-white-color);
    max-height: calc(100vh - var(--app__header));
    z-index: 1;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.nav__content__options__list{
    padding: 5px 10px;
    border-top: solid 1px var(--line-color);
}

.nav__content__options__list--manage{
    /* display: none; */
}

.nav__content__options--user{
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.nav__content__options--user:hover{
    background-color: var(--line-color-hover);
    border-radius: 10px;
}

.nav__content__options--user-avatar{
    width: 60px;
    height: 60px;
}

.nav__content__options--user-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nav__content__options--user-fullname{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    flex: 1;
}

.nav__content__options--user-fullname h4{
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.8rem;

}


.nav__content__options--user-fullname p{
    margin: 0;
}

.nav__content__options__list-item{
    display: flex;
    padding: 5px 5px;
}

.nav__content__options__list-item:hover{
    background-color: var(--line-color-hover);
    border-radius: 10px;
}


.nav__content__options__list-item-icon{
    font-size: 2rem;
    border-radius: 50%;
    background-color: var(--line-color);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__content__options__list-item-desc{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1.6rem;
}

.nav__content__options__item__footer{
    padding-left: 10px;
    padding-bottom: 5px;
}
/* option user - end */

.header--center__nav__icon{
    color: var(--white-color);
}


/* container */
.body__container{
    background-color: var(--black-color);
    width: 100%;
}
/* container left */



.container__left{
    /* min-width: 360px; */
    flex: 1;
    background-color: var(--background-messager-color);
}

.container__left__top{

}

.left__top__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__nav-left{
    font-size: 1.4rem;
    color: var(--text-white-color);
    padding: 5px 10px;
}

.top__nav-right{
    display: flex;
}

.top__nav-right-icon{
    font-size: 2.4rem;
    width: 40px;
    height: 40px;
    background-color: var(--line-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    color: var(--text-white-color);
}

.top__nav-right-icon:hover{
    background-color: var(--line-color-hover);
}

.left__top__search{
    margin-bottom: 20px;
}

.left__top__search-input{
    background-color: var(--line-color);
    height: 36px;
    border-radius: 999px;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.left__top__search-input-icon{
    padding: 10px 15px;
    cursor: pointer;
    color: var(--text-white-color);
    font-size: 1.4rem;
}

.top__search-input{
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: var(--text-white-color);
    padding-right: 15px;
}

/* msg */

.container__left__list-messager{
    height: calc(100vh - 184.5px);
    outline: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container__left__list-messager:hover::-webkit-scrollbar-thumb{
    background-color: tomato;
}

.container__left__list-messager::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
/* Track */
.container__left__list-messager::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
.container__left__list-messager::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}
/* Handle on hover */
.container__left__list-messager::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.container__left__list-messager:empty::before{
    content: 'Không có cuộc trò chuyện';
    opacity: .7;
    color: var(--text-white-color);
    font-size: 1.4rem;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}


.left__list-messager-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 72px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.left__list-messager-item:hover{
    background-color: var(--line-color-hover);
}

.clicked{
    /* đang click */
    background-color: #29313b;
}

.messager-item__avatar{
    width: 56px;
    height: 56px;
    position: relative;
}

.messager-item__avatar__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.messager-item__avatar__active{
    position: absolute;
    background-color: #31a24c;
    width: 12px;
    height: 12px;
    border: solid 1px var(--text-white-color);
    border-radius: 50%;
    bottom: 0;
    right: 0;
}

.messager-item__content{
    color: var(--text-white-color);
    padding: 5px 10px;
    flex: 1;
}

.messager-item__content-name{
    font-size: 1.4rem;
    font-weight: 100;
}

.messager-item__content-name h3{
    margin: 0;
    display: block;
    white-space: nowrap; 
    width: 170px; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.messager-item__content-msg{
    overflow: hidden;
    opacity: .7;
    font-size: 1.3rem;
    display: flex;
}

.messager-item__content-msg-text{
    flex: 1;
    width: 170px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.messager-item__status-wrap{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--line-color);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color)
}

/* container right */

.container__right{
    flex: 2;
    background-color: var(--background-messager-color);
    border-right: 3px solid var(--line-color);
    display: flex;
}

.container__right__messages{
    border-left: 3px solid var(--line-color);
    flex: 2;
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
}

.container__right__messages__header{
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--line-color);
    padding: 0 15px;
}

.messages__header-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages__header-info-back{
    font-size: 2.6rem;
    color: var(--text-white-color);
    cursor: pointer;
    margin-right: 8px;
    display: none;
}

.messages__header-info__avatar{
    width: 40px;
    height: 40px;
    position: relative;
}

.messages__header-info__avatar__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.messages__header-info__avatar__active{
    background-color: #31a24c;
    border-radius: 50%;
    outline: none;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid var(--background-messager-color);
    bottom: 0;
    right: 0;
}

.messages__header-info__userchat{
    padding: 5px 10px;
    color: var(--white-color);
    flex: 1;
}

.messages__header-info__userchat__name h3{
    display: block;
    white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0;
    font-size: 1.6rem;
}

.messages__header-info__userchat-timeactive{
    opacity: .7;
    font-size: 1.3rem;
    padding-top: 3px;
}

.messages__header-option{
    display: flex;
}

.messages__header-option__item{
    color: var(--primary-color);
    font-size: 2.8rem;
    cursor: pointer;
    margin: 0 8px;
}

.messages__header-option__item:hover{
    color: var(--primary-color-hover);
}

/* chat option */

.container__right__option{
    display: none;
    border-left: 3px solid var(--line-color);
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 65px);
    /* width: 400px; */
    flex: 1;
}

.right__option__mobile{
    padding: 10px 20px;
}

.right__option__mobile--back{
    width: 36px;
    font-size: 2.6rem;
    color: var(--text-white-color);
    cursor: pointer;
    padding: 4px;
}

.right__option__header{
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right__option__header__avatar{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    position: relative;
}

.right__option__header__avatar__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.right__option__header__avatar__active{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #31a24c;
    border: solid 1px var(--background-messager-color);
    border-radius: 50%;
    bottom: 1px;
    right: 3px;
}

.right__option__header__info{
    color: var(--text-white-color);
}

.right__option__header__info__name h3{
    padding: 8px 0;
    font-size: 1.7rem;
    margin: 0;
}

.right__option__header__info__timeactive{
    font-size: 1.3rem;
    opacity: .7;
}

.right__option__content{
    padding: 0 24px;
    color: var(--text-white-color);
    font-size: 1.6rem;
}

.option__content__custom__list--item,
.option__content__privacy__list--item{
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.option__content__custom__list--item i,
.option__content__privacy__list--item i{
    font-size: 2rem;
    color: var(--pink-color);
}

.option__content__custom__list--item h4,
.option__content__privacy__list--item h4{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.option__content__custom__list--item h4:hover,
.option__content__privacy__list--item h4:hover{
    color: var(--pink-color);
}


.container__right__messages__wrap{
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
}
/* chat content */
.container__right__chat-content{
    overflow-y: scroll;
    margin-top: 10px;
    flex: 1;
}

.container__right__chat-content:hover::-webkit-scrollbar-thumb{
    background-color: tomato;
}

.container__right__chat-content__item{
    display: flex;
    margin-bottom: 8px;
    width: 100%;
}

/* receive msg */

.container__right__chat-content__item__wrap-msg-receive{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.container__right__chat-content__item__avatar-msg-receive{
    width: 16px;
    height: 16px;
    align-items: flex-end;
    margin: 0 4px;
}

.container__right__chat-content__item__avatar__img-msg-receive{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container__right__chat-content__item__detail-msg-receive{
    margin-left: 8px;
    flex: 1;
}

.container__right__chat-content__item__detail__wrap-msg-msg-receive{
    position: relative;
}

.container__right__chat-content__item__detail__wrap-msg-msg-receive__content{
    line-height: 1.5;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
    height: 100%;
    background-color: var(--line-color);
    border-radius: 15px;
    padding: 8px 10px;
}

.container__right__chat-content__item__detail__wrap-msg-msg-receive__time{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -72px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: var(--line-color-hover);
    display: none;
}

.container__right__chat-content__item__detail__wrap-msg-msg-receive:hover 
.container__right__chat-content__item__detail__wrap-msg-msg-receive__time{
    display: block;
}

/* common send and receive */
.container__right__chat-content__item__detail__wrap-msg-msg-receive,
.container__right__chat-content__item__detail__wrap-msg{
    height: auto;
    max-width: 70%;
    display: block;
    color: var(--text-white-color);
    font-size: 1.4rem;
}

/* send msg */

.container__right__chat-content__item__detail{
    margin-left: 8px;
    flex: 1;
}

.container__right__chat-content__item__detail__wrap-msg img{
    width: 280px;
    height: auto;
    border-radius: 15px;
}

.container__right__chat-content__item__detail__wrap-msg p{
    line-height: 1.5;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    background-color: var(--line-color);
    border-radius: 15px;
    padding: 8px 10px;
}

.container__right__chat-content__item__detail__wrap-msg div{
    line-height: 1.5;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
    height: 100%;
    background-color: var(--line-color);
    border-radius: 15px;
    padding: 8px 10px;
}

.container__right__chat-content__item--active{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    border: solid 2px var(--line-color-hover);
    color: var(--line-color-hover);
    margin: 0 4px;
}

.container__right__chat-content__item--active i{
    font-size: 1.4rem;
}

.msg-send{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* chat actions */
.container__right__messages-actions{
    height: auto;
    min-height: 45px;
    max-height: 300px;
    display: flex;
    align-items: flex-end;
    padding: 5px 0;
    background-color: var(--background-messager-color);
}

.container__right__messages-actions__item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    padding: 4px;
    margin: 0 2px;
    color: var(--primary-color);
    cursor: pointer;
}

.container__right__messages-actions__input{
    flex: 1;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-color: var(--line-color);
    border-radius: 25px;
    padding: 5px 0;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-white-color);
}

.container__right__messages-actions__input__wrap{
    flex: 1;
    width: 100px;
}

.container__right__messages-actions__input__item{
    flex: 1;
    outline: none;
    border: none;
    cursor: text;
    overflow-y: scroll;
    padding: 5px 0;
    padding-left: 12px;
    max-height: 280px;
}

.container__right__messages-actions__input__item:empty::before{
    content: 'Aa';
    opacity: .7;
    font-weight: normal;
}

.container__right__messages-actions__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: var(--primary-color);
    margin-right: 5px;
}

.container__right__messages-actions__icon i{
    font-size: 1.8rem;
}

/* add img */
.container__right__messages-actions__input__list-img{
    display: none;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    width: 95%;
    flex-wrap: wrap;
}

.listImg__send{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.input__list-img__label-select{
    color: var(--text-white-color);
    font-size: 5rem;
    cursor: pointer;
    padding: 5px 0;
}

/* img selected */
.img__selected{
    width: auto;
    height: 48px;
    position: relative;
    margin: 5px 5px;
    background-color: var(--line-color-hover);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__selected__item,
.img__selected__item img{
    width: auto;
    height: 100%;
    border-radius: 5px;
}

.img__selected__delete-img{
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-white-color);
}

.img__selected__delete-img:hover{
    color: var(--primary-color);
}

/* css friend - start*/
.app__body__friend{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body__friend__header{
    background-color: var(--background-messager-color);
    min-height: var(--body__friend__header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__friend__header__list{
    max-width: 100%;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 0;
}

.body__friend__header__list-item{
    
}

.body__friend__header__list-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 44px;
    text-decoration: none;
    color: var(--text-white-color);
    background-color: var(--line-color-hover);
    border-radius: 10px;
    margin: 5px;
    font-size: 1.6rem;

}

.body__friend__header__list-item-link:hover{
    background-color: var(--btn-color-hover);
}

.body__friend__header__list-item-link-clicked{
    background-color: var(--primary-color);
}

.body__friend__container{
    background-color: var(--background-messager-color);
    flex: 1;
}

.body__friend__container__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__friend__container__header-search{
    flex: 1;
    display: flex;
    background-color: var(--line-color);
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 310px;
    padding: 10px 10px;
}

.body__friend__container__header-search__icon{
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
    padding: 5px;
}

.body__friend__container__header-search__input{
    width: 100%;
    font-size: 1.4rem;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-color);
}

.body__friend__container__header-title h5{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 2rem;
}

.body__friend__container__content{
    padding-top: 30px;
}

.body__friend__container__content-list{
    padding: 0 10px;
}

.body__friend__container__content-list-item{
    border-radius: 10px;
}

.body__friend__container__content-list-item-wrap{
    height: 360px;
    text-decoration: none;
    background-color: var(--line-color-hover);
    transition: transform linear 0.1s;
    will-change: transform;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.body__friend__container__content-list-item-wrap:hover{
    transform: translateY(-3px);
}

.body__friend__container__content-list-item-wrap__avatar{
    height: 270px;
}

.body__friend__container__content-list-item-wrap__avatar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.body__friend__container__content-list-item-wrap__name{

}

.body__friend__container__content-list-item-wrap__name span{
    color: var(--text-white-color);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px;
}

.body__friend__container__content-list-item-wrap__actions{

}

.content-list-item-wrap__actions-more{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--text-white-color);
    margin-bottom: 5px;
    position: relative;
}

.content-list-item-wrap__actions-more__icon{
    cursor: pointer;
    padding: 0 10px;
}

.content-list-item-wrap__actions-more__icon:hover{
    background-color: crimson;
    border-radius: 10px;
}

.content-list-item-wrap__actions-more__option{
    background-color: var(--line-color);
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    border-radius: 10px;
    display: none;

}

.content-list-item-wrap__actions-more__option-list{
    padding: 5px;
    cursor: pointer;
}

.content-list-item-wrap__actions-more__option-list-item{
    padding: 5px 5px;
    border-radius: 10px;
}

.content-list-item-wrap__actions-more__option-list-item:hover{
    background-color: var(--line-color-hover);
}

.content-list-item-wrap__actions-more__option-list-item__content{
    font-size: 1.5rem;
    padding-left: 5px;
}

.content-list-item-wrap__actions__item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-list-item-wrap__actions__item span{
    width: 100%;
    padding: 10px 0;
    margin: 0 10px;
    background-color: var(--primary-color);
    color: var(--text-white-color);
    font-size: 1.6rem;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.content-list-item-wrap__actions__item span:hover{
    background-color: var(--primary-color-hover);
}
/* css friend - end*/
/* user - start */
.app__body__user{
    background-color: var(--background-messager-color);
    min-height: calc(100vh - var(--app__header));
    padding-bottom: 30px;
}

.app__body__user__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.app__body__user__header--cover{
    width: 100%;
    height: 346px;
    position: relative;
}

.app__body__user__header--cover-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.app__body__user__header--avatar{
    width: 220px;
    height: 220px;
    position: absolute;
    top: 270px;
}

.app__body__user__header--avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 5px var(--primary-color);
}

.app__body__user__header--fullname{
    padding-top: 80px;
    color: var(--text-white-color);
    font-size: 1.8rem;
}

.app__body__user__container__info{
    background-color: var(--line-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--text-white-color);
    font-size: 1.6rem;
}

.user__container__info__intro--list-item{
    display: flex;
    padding: 20px 10px
}

.user__container__info__intro--list-item-icon{
    padding: 0 10px;
    color: var(--primary-color);
}

.user__container__info__intro--list-item-title{
    min-width: 120px;
}
/* user - end */