/* mobile & tablet */
@media (max-width: 1023px){
    .container__bg{
        display: none;
    }

    .container__content{
        height: 100%;
        width: 100%;
    }

    .container__content__join{
        text-align: center;
        padding: 0;
    }
    /* code Vũ */
    .header__right_user {
        display: none;
    }
    #search__person {
        width: 34px;
        padding-right: 4px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px){
    
}

/* mobile */
@media (max-width: 768px){
    .auth-form{
        width: 100vw;
    }

    .auth-form__socials{
        flex-direction: column;
    }

    .form-group{
        margin-bottom: 8px;
    }

    .auth-form__header{
        margin-top: 0;
    }

    /* header chat center */
    .header__search{
        width: 40px;
        flex: 0;
        border-radius: 50%;
    }

    .header__search__input{
        display: none;
    }

    .header--center{
        display: none;
    }

    /* chat */
    .container__left{
        width: 100%;
    }

    /* chat options */

    /* back list msg */
    .messages__header-info-back{
        display: block;
    }
}

/* ip 5 */
@media (max-width: 360px){
    .container__left{
        min-width: 320px;
    }

    .messager-item__content-msg-text{
        width: 155px;
    }
}