/* mobile & tablet */
@media (max-width: 1023px){
    .container__bg{
        display: none;
    }

    .container__content{
        height: 100%;
        width: 100%;
    }

    .container__content__join{
        text-align: center;
        padding: 0;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    
}

/* mobile */
@media (max-width: 739px){
    
}